header h1,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}



#portfolio {
    background-color: #a2348b;


}

.card .btn {
    background-color: #a2348b;
}

header {
    background: url(images/wave-image.jpg);
    background-size: repeat;
}

#contact .btn {
    background: #a2348b;
}

#contact a {
    color: #a2348b;
}

#searchBtn {
    font-size: 11px;
    max-width: 20%;

}

#google {
    font-family: Roboto, arial, sans-serif;
    font-size: 14px;

}

#leaf {
    color: green;

}

.vr {
    background-color: #a2348b;
    opacity: 1.0;
}