.name-nav {
    color: rgb(9, 255, 0);
    background-color: purple;
    margin: 20% 20%;
    padding: 5px 5px 20px 0;
    text-align: center;
    border-radius: 35%;
    font-size: 100%;
   
    }

div .nav {
    color: white;
    font-size: 90%;
    display: inline;
   

}

h2 {
    text-align: center;
    color: chartreuse;
    font-size: 200%;
}

#photo {
    
    display: inline-block;
   
}

.lgphoto {
   border: 10px solid purple;
   
}

#head {
   /* background-color: chartreuse ;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 5%;
    border: purple solid 15px;
    background-image: url("../images/wave-image.jpg");
    background-size: cover;
    margin: auto;
    background-repeat: no-repeat;
   /* background-attachment: fixed;*/
    
}

h3, footer, p {
    text-align: center;
}

/*section {
    padding: 2%;
}*/

.areas {
    border-top: 15px solid purple;
    border-bottom: 15px solid purple;
    border-right: 20px solid purple;
    border-left: 20px solid purple;
    margin: auto;
    padding: 5%;
    color: white;
    background-color: black;
}

footer {
    background-color: black;
    padding: 5%;
    margin: auto;
    border: 15px solid purple;
    color: chartreuse


}

html {
    background: black;
}
/* Use flexbox to float projects in a line */


